body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#My
{
    background-color: red;
}
#My img{
    height: 300px;
    margin-top: 25px;
}
.carousel-inner p{
    margin-top: 15px;
    color: blue;
    font-size: 30px;
    font-family: cursive;
    font-weight: 300;
}


